extends page-layout.pug

block vars
    - var title = "О себе"

block content
  div
    div <b>Работу выполнил:</b> Бугаев Иван Михайлович
    div <b>Номер группы:</b> ИКБО-01-17
    div <b>Номер индивидуального задания:</b> 3
    div <b>Текст индивидуального задания:</b> «Подсчет одинаковых слов»
